<!doctype html>
<html lang="en">

<head>
    <!-- Nossos css-->
    <link rel="stylesheet" type="text/css" href="./css/custom.css" media="screen" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body class="loginBody">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="headerChatIcon" src="./images/chat_icon.png">
        <a href="./index.html" class="navbar-brand mr-auto navLogo">FastChat</a>


        <form class="form-inline my-2 my-lg-0">
            <a href="./registro" class="btn btn-outline-primary btn-registro" type="submit">Registrar</a>



        </form>

    </nav>

    <div class="d-flex flex-column align-items-center ">
        <div class="form-login">
            <form class="form-Body">
                <div class="form-group">
                    <label for="exampleInputEmail1"><h2>Login</h2></label>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de e-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">

                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Continuar conectado</label>
                </div>
                <button type="submit" class="btn btn-primary">Logar</button>
            </form>
        </div>
    </div>
</body>

</html>